.search-container{
    height:100px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    /* background-color: #222222; */
}

.search-container input{
    width:25rem;
    height:2.5rem;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: rgb(219, 229, 237);
    box-shadow: 2px 2px 2px #333 inset;
}

.search-container input::placeholder{
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 14px;
    /* font-size: 18px; */
}

.search-content{
    height:auto;
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}


.game-card {
    height:auto;
    width: 19rem;
    background: rgb(255, 255, 255);
    padding: .4em;
    border-radius: 6px;
    
  }
  
  .game-card i{
    margin-left: 0.7rem;
    
  
  }

  .game-card i span{
    font-size: 12px;
  }
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 10rem;
    border-radius: 6px 6px 0 0;
    position: relative;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }

  .card-image img{
    height: 100%;
    width: 100%;
  }

  .card-image span{
    position: absolute;
    top:0.5rem;
    right:0.5rem;
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: "Press Start 2P", system-ui;

    font-weight: 800;
    color: #FF741D;
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }